button {
  @apply
  text-white background-color
  hover:bg-gray-900
  rounded-lg
  text-sm
  px-5
  py-2.5
  mb-2
  dark:hover:bg-gray-700
  dark:border-gray-700;
}

button:disabled {
  @apply
  background-color
  py-2.5
  px-5
  mb-2
  text-sm
  font-medium
  text-gray-900
  focus:outline-none
  bg-white
  rounded-lg
  border
  border-gray-200
  focus:z-10
  focus:ring-4
    /*focus:ring-gray-100*/
    /*dark:focus:ring-gray-700*/
  dark:text-gray-400
  dark:border-gray-600
  dark:bg-gray-700
}

button:disabled:hover {
  @apply cursor-not-allowed;
}
