<div class="w-screen h-screen flex">
  <div class="flex-1 w-3/4">
    <div id="mapOverlay" class="flex items-start">
      <div class="map-overlay-box w-[500px] h-[270px] flex flex-1 justify-center flex-col gap-4">
        <div class="flex flex-1 justify-center gap-4">
          <mat-form-field class="flex w-full">
            <mat-label>Depot</mat-label>
            <mat-select [(ngModel)]="scenarioOptions.depot">
              @for (depot of depots; track depot.id; let index = $index) {
                <mat-option [value]="depot">
                  {{ depot.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle [(ngModel)]="scenarioOptions.deliverShipmentsFromDepot">
            Deliver from Depot
          </mat-slide-toggle>
        </div>
        <div class="flex justify-center">
          Shipments to generate: {{ scenarioOptions.randomShipmentsCount }}
        </div>
        <mat-slider min="1" max="100" step="1">
          <input matSliderThumb [(ngModel)]="scenarioOptions.randomShipmentsCount">
        </mat-slider>
        <button mat-flat-button (click)="onGenerateShipmentsClick($event)">
          <p>Generate Shipments</p>
        </button>
      </div>
      <div class="map-overlay-box h-[270px] flex flex-1 justify-center flex-col gap-4">
        <div class="flex flex-1 justify-center space-x-4">
          <app-vehicle-form-button imageSrc="assets/cargo-bike.png"
                                   (vehicleAdded)="onVehicleAdd('bike')"
                                   (vehicleRemoved)="onVehicleRemove('bike')"
                                   [length]="getVehicleByType('bike').length">

          </app-vehicle-form-button>
          <app-vehicle-form-button imageSrc="assets/delivery.png"
                                   (vehicleAdded)="onVehicleAdd('car')"
                                   (vehicleRemoved)="onVehicleRemove('car')"
                                   [length]="getVehicleByType('car').length">

          </app-vehicle-form-button>
        </div>
        <div class="flex justify-center w-full">
          <mat-slide-toggle [(ngModel)]="scenarioOptions.vehicleCapacity">
            Limit vehicle capacity per trip (max. 4 shipments)
          </mat-slide-toggle>
        </div>
        <button mat-flat-button (click)="onScenario1Click($event)" [disabled]="!isFormValid()">
          <p>Calculate Routing</p>
        </button>
      </div>
      <div class="map-overlay-box">
        <mat-slide-toggle [(ngModel)]="matchStreets" (change)="onMatchStreetsChanged($event)">
          Match streets
        </mat-slide-toggle>
      </div>
    </div>
    <div id="mapOverlayRoutes" class="flex">
      @for (route of routes; track route; let index = $index) {
        <button (click)="onRouteClicked(route)" class="map-overlay-box">
          <p>Route {{ route.vehicle }}</p>
          <p>{{ RouteUtil.durationAsString(route.getTotalDuration()) }}h</p>
          <img [src]="getImageSrcForVehicle(getVehicleById(route.vehicle))"/>
        </button>
      }
    </div>

    <mgl-map
      #map
      [style]="'mapbox://styles/mapbox/dark-v11'"
      [zoom]="[12]"
      [center]="[12.312756,51.357954]"
      (mapClick)="onMapClick($event)"
      (mapLoad)="onMapReady($event)"
    >

      <mgl-geojson-source
        id="buildings"
        [data]="buildingGeojson"
      >
      </mgl-geojson-source>

      <mgl-layer
        id="buildingsLayer"
        type="fill-extrusion"
        source="buildings"
        [paint]="buildingLayerStyle.paint3d"
      >
      </mgl-layer>

      <mgl-layer
        id="lineArrowLayer"
        type="symbol"
        source="polyline"
        [layout]="{
          'icon-image': 'triangle',
          'symbol-placement': 'line',
          'icon-size': 0.7
        }"
        [paint]="{
          'icon-color' : '#d1d1d1',
          'icon-opacity' : 0.8
        }"
      >
      </mgl-layer>

      <mgl-geojson-source
        id="polyline"
        [data]="polylineData"
        [lineMetrics]="true"
      >
      </mgl-geojson-source>

      <mgl-layer
        id="trackline"
        type="line"
        source="polyline"
        [paint]="polylineLayerStyle.paint"
        [layout]="{
                'line-cap': 'round',
                'line-join': 'round',
            }"
      >
      </mgl-layer>

      <mgl-geojson-source
        id="points"
        [data]="polylinePoints"
      >
      </mgl-geojson-source>

      <mgl-layer
        id="pointLayer"
        type="symbol"
        source="points"
        [layout]="pointLayerStyle.layout"
        [paint]="pointLayerStyle.paint"
      >
      </mgl-layer>

    </mgl-map>
  </div>
  <app-route-details *ngIf="route" class="w-1/4 overflow-y-auto" [route]="route"/>
</div>
