<div class="h-screen w-full overflow-y-auto ">
  <!--  <pre>-->
  <!--    {{ route | json }}-->
  <!--  </pre>-->
  <h1 *ngIf="isDebugMode" class="bg-red-600">Debug Mode</h1>
  <div *ngIf="route" class="bg-gray-900">
    <div class="max-w-4xl mx-auto shadow-xl rounded-lg p-8 overflow-y text-white">
      <h2>Route Information</h2>
      <div class="p-6">
        <div class="flex justify-between">
          <span>Vehicle:</span>
          <span>{{ route.description }}</span>
        </div>
        <div class="flex justify-between">
          <span>Duration:</span>
          <span>{{ getNowAsString() }} - {{ getEta(route.getTotalDuration()) }}
            ({{ RouteUtil.durationAsString(route.getTotalDuration()) }} hours)
            </span>
        </div>
        <div class=" flex justify-between ">
          <span>Distance:</span>
          <span>{{ route.distance / 1000.0 | number : '1.0-2' }} km</span>
        </div>
      </div>

      <h2>Route Steps</h2>
      <div class="min-h-screen p-6 text-white">
        <div class="max-w-lg mx-auto">
          <div class="border-l border-gray-700">
            <!-- Timeline Item -->
            <div class="mb-8 pl-6 relative" *ngFor="let step of route.steps; let stepIndex = index">
              <div
                class="absolute -left-3 top-2 w-6 h-6 bg-gray-800 border border-gray-700 rounded-full flex items-center justify-center">
                <span class="material-symbols-outlined">{{ getMaterialIconForStepType(step.type) }}</span>
              </div>

              <div class="flex justify-between items-center">
                <p class="text-lg text-gray-400">{{ getEta(step.arrival) }}
                  <span *ngIf="step.type === 'break'"> - {{ getEta(step.arrival + step.getTotalDuration()) }}</span>
                </p>
              </div>
              <button (click)="onButtonClicked(step)">
                <h3 class=" text-lg font-medium mt-1">{{ getHeaderForStep(step) }}</h3>
              </button>
              <p class="text-gray-400 text-sm">{{ step.description }}</p>
              <p class="text-sm mt-1">
                <span>{{ getRouteDurationString(step.duration) }} h</span> ·
                <span>{{ step.distance / 1000.0 | number : '1.0-2' }} km</span> ·
                <span>{{ getAverageSpeedInKph(step) | number : '1.0-1' }} km/h</span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
