<div class="w-screen h-screen flex">
  <div class="flex flex-col flex-1 w-3/4">
    <div id="mapOverlay" class="flex items-start">
      <div class="map-overlay-box w-[500px] h-[270px] flex flex-1 justify-center flex-col gap-4">
        <div class="flex flex-1 justify-center gap-4">
          <mat-form-field class="flex w-full">
            <mat-label>Depot</mat-label>
            <mat-select [(ngModel)]="scenarioOptions.depot">
              @for (depot of depots; track depot.id; let index = $index) {
                <mat-option [value]="depot">
                  {{ depot.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle [(ngModel)]="scenarioOptions.deliverShipmentsFromDepot">
            Deliver from Depot
          </mat-slide-toggle>
        </div>
        <div class="flex justify-center">
          Shipments to generate: {{ scenarioOptions.randomShipmentsCount }}
        </div>
        <mat-slider min="1" max="100" step="1">
          <input matSliderThumb [(ngModel)]="scenarioOptions.randomShipmentsCount">
        </mat-slider>
        <button mat-flat-button (click)="onGenerateShipmentsClick($event)">
          <p>Generate Shipments</p>
        </button>
      </div>
      <div class="map-overlay-box h-[270px] flex flex-1 justify-center flex-col gap-4">
        <div class="flex flex-1 justify-center space-x-4">
          <app-vehicle-form-button imageSrc="assets/cargo-bike.png"
                                   (vehicleAdded)="onVehicleAdd('bike')"
                                   (vehicleRemoved)="onVehicleRemove('bike')"
                                   [length]="getVehicleByType('bike').length">

          </app-vehicle-form-button>
          <app-vehicle-form-button imageSrc="assets/delivery.png"
                                   (vehicleAdded)="onVehicleAdd('car')"
                                   (vehicleRemoved)="onVehicleRemove('car')"
                                   [length]="getVehicleByType('car').length">

          </app-vehicle-form-button>
        </div>
        <div class="flex justify-center w-full">
          <mat-slide-toggle [(ngModel)]="scenarioOptions.vehicleCapacity">
            Limit vehicle capacity per trip (max. 4 shipments)
          </mat-slide-toggle>
        </div>
        <button mat-flat-button (click)="onCalculateRouteClick($event)"
                [disabled]="!isRouteCalculationEnabled()">
          <div class="flex flex-row items-center gap-2">
            <div>Calculate Routing</div>
            <mat-spinner *ngIf="isCalculatingRoute" diameter="20" [strokeWidth]="4"></mat-spinner>
          </div>
        </button>
      </div>
      <div class="map-overlay-box">
        <mat-slide-toggle [(ngModel)]="matchStreets" (change)="onMatchStreetsChanged($event)">
          Match streets
        </mat-slide-toggle>
      </div>
      <div class="map-overlay-box flex flex-col items-center">
        <h1 class="mb-2">Quick Select</h1>
        <div class="flex flex-row gap-4">
          <div class="flex flex-col gap-4">
            <button mat-button mat-flat-button class="scenario-btn" (click)="onScenario1Click()"
                    [disabled]="isCalculatingRoute">
              <p>Deliver from Plagwitz Depot</p>
            </button>
            <button mat-flat-button class="scenario-btn" (click)="onScenario2Click()"
                    [disabled]="isCalculatingRoute">
              <p>Deliver from Micro-Hub</p>
            </button>
          </div>
          <div class="flex flex-col gap-4">
            <button mat-flat-button class="scenario-btn" (click)="onScenario3Click()"
                    [disabled]="isCalculatingRoute">
              <p>PickUp & Deliver in Lützschena</p>
            </button>
            <button mat-flat-button class="scenario-btn" (click)="onScenario4Click()"
                    [disabled]="isCalculatingRoute">
              <p>Multiple Vehicles / Limited Capacity</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="mapOverlayRoutes" class="flex">
      @for (route of routes; track route; let index = $index) {
        <button (click)="onRouteClicked(route)" class="map-overlay-box">
          <p>Route {{ route.vehicle.id }}</p>
          <p>{{ RouteUtil.durationAsString(route.getTotalDuration()) }}h</p>
          <img [src]="getImageSrcForVehicle(route.vehicle)"/>
        </button>
      }
    </div>
    <div id="mapContainer" class="flex-1">
      <app-map (mapReady)="onMapReady()"></app-map>
    </div>

  </div>
  <app-route-details *ngIf="selectedRoute" class="w-1/4 overflow-y-auto" [route]="selectedRoute"/>
</div>
<!--<div class="flex items-center bg-white h-32">-->
<!--  <div class="flex flex-row items-center w-2/3 bg-green-100">-->
<!--    <div class="flex items-center">-->
<!--      <img src="assets/logo-banner.png"/>-->
<!--    </div>-->
<!--    <div class="flex flex-col items-center p-10">-->
<!--      <a href="https://sucolo.eu/" target="_blank">SuCoLo Project Website </a>-->
<!--      &copy; {{ moment().format("Y") }} Logistics Living Lab - Leipzig University-->
<!--      <div>This project has been funded by the FFG, MIMIT, BMFTR and Vinnova under the Driving Urban Transitions-->
<!--        Partnership, which has been co-funded by the European Union under grant agreement no. 905465 and BMFTR (FKZ-->
<!--        01UV2450).-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
